<p>Bem-vindo (a) ao site do Panorama do Novo Testamento!</p>

<form action="" method="POST">

    <input type="text" name="user">
    <input type="text" name="username">

    <button type="submit">Enviar</button>

</form>