<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{> partials}}

    <article>
        <div class="chatblock">
    
            <p class="feedbacktext">Para nos mandar um feedback, preencha as informações abaixo: </p>

            <form action="/access/feedback" method="POST" class="feedbackpost">

                <input type="text" name="name" class="usernamebox" placeholder="Nome:">

                <input type="email" name="email" class="emailbox" placeholder="Email:">

                <input type="text" name="message" class="messagebox" placeholder="Mensagem:">

               <button type="submit">Enviar</button>

            </form>
    
    
        </div>
    </article>

    {{> footer}}

    
</body>
</html>