<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/homepage.css">
</head>
<body>
    
    {{> partials}}

    <article>
        <div class="chatblock">
    
            
    {{#if verifyMessage}}

    <p>Insira uma mensagem válida! Ou seja, com mais de dez caractéres para o seu envio ser bem sucedido!</p>

    <p>Insira um email/nome válido para a sua mensagem ser enviada com sucesso</p>

    {{else}}

    <p>
        Parabéns {{name}}! Sua mensagem foi enviada com sucesso!
    </p>

    {{/if}}

    
        </div>
    </article>

    {{> footer}}


</body>
</html>